{
  "plugins": [
    "@ianvs/prettier-plugin-sort-imports",
    "./node_modules/prettier-plugin-jsdoc/dist/index.js",
    "prettier-plugin-css-order"
  ],
  "importOrder": [
    "^react",
    "^[a-zA-Z]",
    "^@[a-zA-Z]",
    "^@/",
    "^/",
    "^./",
    "^../"
  ],
  "importOrderParserPlugins": ["typescript", "jsx", "importAssertions"],
  "cssDeclarationSorterOrder": "smacss",
  "jsdocCapitalizeDescription": false
}
