{
  "plugins": ["prettier-plugin-jsdoc", "@ianvs/prettier-plugin-sort-imports"],
  "importOrder": ["^react", "^[a-zA-Z]", "^@[a-zA-Z]", "^@/", "^./"],
  "order": "smacss",
  "jsdocCapitalizeDescription": false,
  "overrides": [
    {
      "files": "*.svg",
      "options": {
        "parser": "html"
      }
    }
  ]
}
