.button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  min-height: 40px;
  padding: 10px 20px;
  gap: 0.5em;
  border: none;
  border-radius: var(--rounded);
  background: var(--off-white);
  transition:
    background var(--fast),
    color var(--fast),
    box-shadow var(--fast);
}

.button:hover {
  background: var(--primary);
  box-shadow: var(--shadow);
  color: var(--white);
}

.button[data-square] {
  flex-shrink: 0;
  width: 40px;
  height: 40px;
  min-height: 0;
  padding: 0;
}
