.input {
  width: 20px;
  height: 20px;
  margin: 0;
  border-radius: var(--rounded);
  border-color: var(--gray);
  accent-color: var(--primary);
  transition: box-shadow var(--fast);
}

.input:hover {
  box-shadow: var(--shadow);
}
