.label {
  position: relative;
}

.select {
  appearance: none;
  min-width: 0;
  min-height: 40px;
  padding: 5px 30px 5px 10px;
  border: none;
  border: solid 1px var(--gray);
  border-radius: var(--rounded);
  background: var(--off-white);
  transition: box-shadow var(--fast);
}

.select:hover {
  box-shadow: var(--shadow);
}

.caret {
  position: absolute;
  right: 10px;
  color: var(--gray);
}
