.textbox {
  min-width: 0;
  padding: 10px;
  border: solid 1px var(--light-gray);
  border-radius: var(--rounded);
  cursor: unset;
  transition: box-shadow var(--fast);
}

.textbox:hover {
  box-shadow: var(--shadow);
}
