.label {
  min-width: 0;
}

.input {
  flex-grow: 1;
  min-width: 0;
  min-height: 40px;
  padding: 5px 10px;
  border: solid 1px var(--gray);
  border-radius: var(--rounded);
  transition: box-shadow var(--fast);
}

.input:hover {
  box-shadow: var(--shadow);
}
