.overlay {
  display: flex;
  z-index: 99;
  position: fixed;
  align-items: center;
  justify-content: center;
  inset: 0;
  background: #000c;
  color: var(--white);
  font-size: 1.2rem;
  opacity: 0;
  pointer-events: none;
  transition: opacity var(--fast);
}

.overlay[data-dragging="true"] {
  opacity: 1;
  pointer-events: all;
}

.buttons {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

.grid {
  container-type: inline-size;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  width: 100%;
  gap: 40px;
}

.cell {
  display: grid;
  grid-template-rows: max-content 1fr max-content;
  grid-template-columns: 1fr max-content;
  grid-template-areas:
    "filename actions"
    "source source"
    "error error";
  max-width: 100%;
  gap: 10px;
}

.cell textarea {
  width: calc(50cqw - 20px);
  max-width: 100cqw;
}

.cell:only-child textarea {
  width: 100cqw;
}

.filename {
  grid-area: filename;
}

.actions {
  grid-area: actions;
}

.source {
  grid-area: source;
}

.error {
  grid-area: error;
  width: 0;
  min-width: 100%;
  color: var(--primary);
  white-space: pre-wrap;
}
