.wrapper {
  width: 100%;
  overflow-x: auto;
}

.wrapper table {
  min-width: 100%;
  text-align: left;
}

.wrapper th {
  font-weight: 600;
  white-space: nowrap;
}

.wrapper th,
.wrapper td {
  padding: 10px;
  text-align: center;
}

.name {
  width: 100%;
  max-width: 300px;
  text-align: left !important;
  white-space: normal;
  overflow-wrap: break-word;
}

.cell {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
