.table {
  display: grid;
  grid-template-columns: 1fr auto auto auto auto;
  grid-template-rows: 1fr;
  align-items: center;
  gap: 20px;
  width: 100%;
  max-width: 100%;
  overflow-x: auto;
  overflow-y: visible;
}

.row {
  display: contents;
}

.subrow {
  display: flex;
  align-items: center;
  gap: 10px;
  max-width: max-content;
}

.title {
  max-width: 300px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
