.wrapper {
  width: 100%;
  overflow-x: auto;
}

.wrapper table {
  min-width: 100%;
  text-align: left;
}

.wrapper th {
  white-space: nowrap;
}

.wrapper th,
.wrapper td {
  padding: 10px;
}

.wrapper :where(th, td):nth-child(2) {
  width: 100%;
  max-width: 380px;
}

.wrapper :where(th, td):not(:nth-child(2)) {
  width: 0;
  text-align: center;
}

.cell {
  display: flex;
  align-items: center;
  gap: 10px;
}
