:root {
  --primary: #e91e63;
  --primary-light: #ee769e;

  --white: white;
  --off-white: #eceff1;
  --light-gray: #cfd8dc;
  --gray: #90a4ae;
  --off-black: #263238;
  --black: black;

  --shadow: 0 0 10px #0002;
  --rounded: 5px;
  --fast: 0.15s ease;

  font-size: 14pt;
}

* {
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  margin: 0;
  background: var(--white);
  color: var(--off-black);
}

#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
}

header,
footer {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  padding: 40px;
  gap: 10px 40px;
  background: var(--primary);
  color: var(--white);
  text-align: center;
}

header a,
footer a {
  color: var(--white);
}

header a:hover,
footer a:hover {
  color: var(--black);
}

section {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding: 40px max(40px, (100% - 1200px) / 2);
  gap: 40px;
}

h1 {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  gap: 20px;
  font: inherit;
  font-size: 1.5rem;
}

h2 {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin: 0;
  gap: 20px;
  font: inherit;
  font-size: 1.2rem;
  text-align: center;
}

h2:before,
h2:after {
  flex-grow: 1;
  height: 1px;
  background: var(--light-gray);
  content: "";
}

a {
  color: var(--primary);
  transition: color var(--fast);
}

a:hover {
  color: var(--primary);
}

ul {
  padding-left: 30px;
}

li {
  padding: 5px 0;
}

button,
select,
input,
textarea {
  color: inherit;
  font: inherit;
}

button,
select,
input[type="checkbox"],
label {
  cursor: pointer;
}

input[type="number"] {
  text-align: center;
}

textarea,
code {
  font-family: "IBM Plex Mono", monospace;
}

code {
  padding: 2px 5px;
  border-radius: var(--rounded);
  background: #eceff120;
  color: currentColor;
}

table {
  border-collapse: collapse;
}

svg + span {
  margin-left: 0.5em;
}

.control {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.tippy-box {
  width: max-content;
  max-width: min(90vw, 300px) !important;
  padding: 10px 15px;
  border-radius: var(--rounded);
  background: var(--off-black);
  box-shadow: var(--shadow);
  font-size: 1rem;
}

.tippy-content {
  display: flex;
  flex-direction: column;
  padding: 0;
  gap: 10px;
}

.tippy-arrow {
  z-index: 99;
  color: var(--off-black);
}

.tippy-content > * {
  margin: 0 !important;
}

.tippy-content a {
  color: var(--white);
}

.tippy-content a:hover {
  color: var(--primary-light);
}

.tippy-content td:first-child {
  padding-right: 1em;
  padding-left: 0;
  text-align: left;
}

.tippy-content td:last-child {
  padding-right: 0;
}

.tippy-content td {
  padding: 2px 5px;
  text-align: center;
}

:not(html) ::-webkit-scrollbar {
  width: 7px;
  height: 7px;
  background: var(--white);
}

:not(html) ::-webkit-scrollbar-thumb {
  border-radius: 999px;
  background: var(--light-gray);
}
