hr {
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: wrap;
  width: 100%;
  max-width: var(--width);
  height: 1px;
  margin: 30px auto;
  padding: 0 20px;
  border: none;
  background: var(--light-gray);
  background-clip: content-box;
}
