section {
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: wrap;
  width: 100%;
  max-width: var(--width);
  margin: 30px auto;
  padding: 0 20px;
}

@media screen and (max-width: 900px) {
  section {
    flex-direction: column;
    align-items: center;
  }
}
