@import "tailwindcss";

@theme {
  --color-*: initial;

  --color-theme: oklch(60% 0.25 10);

  --color-white: oklch(100% 0.025 10);
  --color-light-gray: oklch(95% 0.025 200);
  --color-gray: oklch(80% 0.025 200);
  --color-dark-gray: oklch(40% 0.025 200);
  --color-black: oklch(0% 0.025 200);

  --font-weight-regular: 300;
  --font-weight-medium: 400;
  --font-weight-bold: 600;

  --font-sans: "Outfit Variable", sans-serif;
  --font-mono: "JetBrains Mono Variable", monospace;
}

@layer base {
  html {
    @apply font-regular font-sans leading-normal;
  }

  body {
    @apply flex min-h-dvh flex-col;
  }

  #root {
    @apply contents;
  }

  main {
    @apply flex grow flex-col;
  }

  header,
  footer {
    @apply bg-theme flex items-center gap-8 p-8 text-white;

    a {
      @apply text-white;
    }
  }

  section {
    @apply flex flex-col gap-8 bg-white p-8 last:grow;
  }

  h1,
  h2,
  h3,
  h4 {
    @apply font-regular flex scroll-mt-8 items-center gap-[0.75em] leading-normal tracking-wide;
  }

  h1 {
    @apply justify-center text-center text-2xl;
  }

  h2 {
    @apply justify-center text-center text-xl;
  }

  hr {
    @apply bg-light-gray my-12 block h-px shrink-0 border-none;
  }

  strong,
  b {
    @apply font-bold;
  }

  p {
    @apply leading-loose;
  }

  svg {
    @apply overflow-visible;
  }

  img,
  svg {
    @apply shrink-0;
  }

  a {
    @apply text-theme underline transition-all hover:text-current;
  }

  button {
    @apply cursor-pointer leading-none transition-all;
  }

  label {
    @apply flex items-center gap-2;
  }

  input {
    @apply min-w-0 font-mono;
  }

  textarea {
    @apply min-w-0 font-mono;
  }

  label:has(input[type="checkbox"]) {
    @apply cursor-pointer;
  }

  input[type="checkbox"] {
    @apply accent-theme cursor-pointer;
  }

  select {
    @apply cursor-pointer;
  }
  dl {
    @apply grid grid-cols-[repeat(var(--cols),auto)] gap-x-8 gap-y-4 [--cols:2];
  }

  dt {
    @apply font-medium;
  }

  dd {
    @apply wrap-anywhere;
  }

  dd:empty {
    @apply before:text-gray before:content-['-'];
  }

  .lucide {
    @apply h-[1.1em] w-[unset];
  }

  [aria-disabled="true"] {
    @apply cursor-not-allowed opacity-50 grayscale;
  }

  :not(html) ::-webkit-scrollbar {
    @apply bg-light-gray size-2 rounded-full;
  }

  :not(html) ::-webkit-scrollbar-thumb {
    @apply bg-gray rounded-full;
  }
}
