[data-tooltip] {
  position: relative;
}
[data-tooltip]:after {
  box-sizing: border-box;
  content: attr(data-tooltip);
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  left: 50%;
  width: max-content;
  max-width: 260px;
  bottom: 100%;
  transform: translate(-50%, -8px);
  padding: 8px 12px;
  border-radius: 2px;
  background: var(--black);
  color: var(--white);
  opacity: 0;
  z-index: 2;
  pointer-events: none;
  transition: opacity 0.25s ease;
  transition-delay: 0.1s;
}
[data-tooltip]:hover:after {
  opacity: 1;
}
